*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--Cream);
}

:root {
    /* ### Primary */
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --hover: hsl(158, 48%, 27%);

    /* ### Neutral */
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --fw500: 'Montserrat', sans-serif;
    --fw700: 'Fraunces', serif;

}

.flex-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: -8rem;
}

.mobile-design{
    display: none;
}

.grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 700px;
    height: 500px;
    background-color: var(--White);
    border-radius: 1rem;
    overflow: hidden;
}

.grid-items img {
    width: 100%;
}

.grid-items h1 {
    font-family: var(--fw700);
    font-weight: 700;
}

.grid-items p {
    font-family: var(--fw500);
    color: var(--Dark-grayish-blue);
    line-height: 1.6;
}

.product__description {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
    width: 100%;
}

.product__type {
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 0px;
    margin: 0;
}

.product__description h1,
p,
a,
.price,
.add-to-cart-container {
    width: 75%;
}

.price {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.price__featured {
    font-size: 2rem;
    font-family: var(--fw700);
    color: var(--Dark-cyan);
}

.price__strikeout {
    font-family: var(--fw500);
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
}

.add-to-cart-container {
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    border-radius: 1rem;
}

.add-to-cart-container a {
    text-decoration: none;
    font-family: var(--fw500);
    font-weight: 700;
    color: var(--White);

}

.add-to-cart-container img {
    width: 20px;
}

.add-to-cart {
    width: 100%;
    background-color: var(--Dark-cyan);
    padding: 1rem 1rem;
    border-radius: 1rem;
    transition: 0.7s all;
    margin-bottom: 2rem;
}

.add-to-cart:hover {
    background-color: var(--hover);
}

.attribution {
    margin-top: 1rem;
    font-size: 14px;
}

@media (max-width: 394px) {
    body {
        background-color: var(--Cream);
        margin: 0.5rem;
    }
    
    .flex-container {
        background-color: var(--White);
        border-radius: 1rem;
        height: 100%;

    }

    .desktop-design {
        display: none;
    }

    .mobile-design {
        display: block;
       
    }

    .mobile-design img {
        width: fit-content;
    }

    .grid-items {
        height: fit-content;
        width: 100%;
        grid-template-columns: 1fr;
        border-radius: 1rem;
        gap: 1rem;
        border: none;

    }

    .product__description {
        margin: 0;
    }

    .attribution {
        margin-top: 9rem;
    }


}